Pipeline_Bronze/Pipeline_Bronze.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"StockData":{"type":"string"},"StockLakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Pipeline_Bronze","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"KustoDatabaseSource","query":{"value":"stocks\n| where Timestamp > datetime('@{activity('Lookup1').output.value[0].lastUpdatedDate}')","type":"Expression"},"queryTimeout":"01:00:00","noTruncation":true,"datasetSettings":{"annotations":[],"linkedService":{"name":"StockData","properties":{"annotations":[],"type":"KustoDatabase","typeProperties":{"workspaceId":"57983ad1-2554-41f1-9728-ff5b45b111f3","endpoint":"https://trd-dxgcch1f2vxfh8feem.z8.kusto.fabric.microsoft.com","database":"[parameters('StockData')]"}}},"type":"KustoDatabaseTable","schema":[],"typeProperties":{}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"StockLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"57983ad1-2554-41f1-9728-ff5b45b111f3","artifactId":"[parameters('StockLakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"stockData.csv","folderPath":"StockData/Bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"StockLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"57983ad1-2554-41f1-9728-ff5b45b111f3","artifactId":"[parameters('StockLakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"watermark"}}}},{"name":"Notebook1","type":"TridentNotebook","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b452304f-1d7d-47a7-aede-ce6d713a13f0","workspaceId":"57983ad1-2554-41f1-9728-ff5b45b111f3"}}],"lastModifiedByObjectId":"ac70f530-3827-428d-ac8e-85c8710d2dd4","lastPublishTime":"2026-06-15T11:37:51Z"},"dependsOn":[]}]}